* {
    box-sizing: border-box;
}
.container {
    background-image: url("images/pizza.png");
    height: 346px;
    background-size: cover;
}
.jumbotron .pizza-caption {
    display: flex;

}

.chevron {
    color: white;
}


