* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", "Work Sans";
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgrey;
    padding: 0 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 7px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin: 0;
}

nav h1 {
    margin: auto;
    font-size: 3em;
    padding: .2em;
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 0;
}

nav a:hover {
    background: blue;
    display: inline-block;
}
